<?xml version="1.0" encoding="UTF-8"?>

<suite name="SauceDemo Test Suite" parallel="tests" thread-count="4">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="Sorting Tests">
        <classes>
            <class name="tests.SortingTest"/>
        </classes>
    </test>
    <test name="Inventory Tests">
        <classes>
            <class name="tests.InventoryTest"/>
        </classes>
    </test>
    <test name="ProductPage Tests">
        <classes>
            <class name="tests.ProductPageTest"/>
        </classes>
    </test>
    <test name="Cart Tests">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>
    <test name="Checkout Tests">
        <classes>
            <class name="tests.CheckoutInfoTest"/>
        </classes>
    </test>
    <test name="Overview Tests">
        <classes>
            <class name="tests.OverviewTest"/>
        </classes>
    </test>
        <test name="Logout Tests">
            <classes>
                <class name="tests.LogoutTest"/>
            </classes>
        </test>
</suite>